{{!-- {{#partial "content"}} --}}
{{!-- {{location}} --}}
{{!-- {{ranger}} --}}
{{!-- {{name}} --}}
{{!-- {{health}} --}}
{{!-- {{age}} --}}
{{!-- <a href="/">back</a> --}}
{{!-- {{/partial}} --}}
{{!-- {{> layout.hbs}} --}}

