{{#partial "content"}}
<div id="both">
Location: {{location}}
<br>
Ranger Name:{{ranger}}
<br>
Animal Name:{{name}}
<br>
Health: {{health}}
<br>
Age: {{age}}

<br>
<a href="/">back</a>
</div>
{{/partial}}
{{> layout.hbs}}

